<h1>All Donations for <%= @charity.name %> </h1>
<table class="table table-hover">
  <tr>
    <th>
      Donation ID
    </th>
    <th>
      User Donating
    </th>
    <th></th>
  </tr>
  <% @donations.each do |donation| %>
  <tr class="donation-<%= donation.id %>">
    <td>
      <%= donation.id %>
    </td>
    <td>
      <%= User.find(donation.user_id).username %>
    </td>
    <td>
      <%= link_to "View Details", admin_charity_donation_path(@charity.slug, donation) %>
    </td>
  </tr>
  <% end %>
</table>
