
  <% if current_user.current_admin?  %>
  <%= link_to "Admin Dashboard", admin_dashboard_path, class: "btn btn-warning admin-dashboard" %></br></br>
  <% end  %>
  <body id="user-show">
  <div class="dashboard-basics">
    <div class="dash-box">

  <center><h1>Dashboard</h1>

  <a href="/donations" button type="button" class="btn my-donations" data-target="#theModal" data-toggle="modal">See my donations</a>
  <div id="theModal" class="modal fade text-center">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      </div>
    </div>
    </div>

  <%= link_to "Update my profile", edit_user_path(current_user), class: "btn update-profile" %></br></br>
  <h3>Hello, <%= current_user.username %>! Thanks for choosing GiveHub!</h3>
</center>
</div>
</div>

  <% if current_user.current_admin? %>

  <h4>Your Admin Roles</h4>
  <table class="table">
    <tr>
      <th>Role</th>
      <th>Charity</th>
      <th>Link to Charity Dashboard</th>
    </tr>
    <% current_user.user_roles.each do |user_role| %>
      <tr class="<%=user_role.user.username%>">
      <td> <%= user_role.role.name %> </td>
      <td> <% if user_role.charity %><%= user_role.charity.name%><% end %></td>
      <td><% if user_role.charity %><%= link_to "Charity Dashboard", admin_charity_dashboard_path(user_role.charity.slug), class: "btn btn-primary btn-sm charity-dashboard"  %><%end%></td>
    </tr>
      <% end %>
  </table></br></br>


  <% end %>

</div>
