<div class="feature-box <%=type%>">
  <div class="feature-banner <%=type%>">
    <h1>donate by <%= type %>: <%= concern.name %></h1>
  </div>
  <div class="feature-left <%=type%>">
    <div class="feature-text">
      <h1><%= concern.tagline %></h1>
      <p><%= concern.description %></p>
    </div>
  </div>
  <div class="feature-right feature-photo <%=type%>">
    <% if type == "CAUSE" %>
      <%= image_tag "#{concern.slug}.jpg", class:"img-responsive feature-img" %>
    <% else %>
      <%= image_tag "rec-#{rand(8..15)}.jpg", class:"img-responsive feature-img" %>
    <% end %>
  </div>
</div>

<div class="donation-text">
  <h2>Your donation can change lives.</h2>
  <h4>See the needs of our featured recipients below.  Or see a list of all recipients below.</h4>
</div>
