<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">

      <div class="panel-heading">
        <h3 class="panel-title text-center">Submit Your Charity</h3>
      </div>

      <div class="panel-body">

          <%= form_for @charity, multipart: true do |f| %>

          <%= render partial: "/shared/charity_form", locals: {f: f}  %>

          <div class="form-group">
              <%= f.fields_for :causes_charity do |cc| %>
                  <%= cc.label :cause %>
                  <%= select(:causes_charities, :cause_id, @cause_presenter.form_options) %>
            <% end %>
          </div>

          <% present @charity do |charity_presenter| %>
            <%= charity_presenter.add_charity_link(f) %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>
