<div class="container">
  <%= link_to "All Needs", admin_charity_needs_path, class: "btn btn-success btn view-details" %>

<h2>Need Details:</h2>

<h2><%= @need.name %></h2>
<p>Description: <%= @need.description %></p>
<p>Price: $<%= @need.price %></p>
<p>Category: <%= @need.needs_category.name %></p>
<p>Status: <%= @need.status.name %></p>

<% present @need do |need_presenter| %>
  <%= need_presenter.status_buttons %>
<% end %>


</div>
