<body style="margin:0; padding:0">

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
      </li>
      <li data-target="#myCarousel" data-slide-to="1">
      </li>
      <li data-target="#myCarousel" data-slide-to="2">
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag asset_path('lgbti.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <%= button_to "LGBTQIA", cause_path('lgbti'), method: :get, class: 'home-cause-button' %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('environment.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
          <%= button_to "Environment", cause_path('environment'), method: :get, class: 'home-cause-button' %>
        </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('humanitarian.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <%= button_to "Humanitarian", cause_path('humanitarian'), method: :get, class: 'home-cause-button' %>
          </div>
        </div>
      </div>
        <div class="item">
          <%= image_tag asset_path('youth.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <%= button_to "Youth", cause_path('youth'), method: :get, class: 'home-cause-button' %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('education.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <%= button_to "Education", cause_path('education'), method: :get, class: 'home-cause-button' %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('economic-development.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <%= button_to "Economic Development", cause_path('economic-development'), method: :get, class: 'home-cause-button' %>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('immigration.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <%= button_to "Immigration", cause_path('immigration'), method: :get, class: 'home-cause-button' %>
            </div>
          </div>
        </div>
      <div class="item">
        <%= image_tag asset_path('poverty.jpg'), class: 'carousel-img' %>
        <div class="container-fluid">
          <div class="carousel-caption">
            <%= button_to "Poverty", cause_path('poverty'), method: :get, class: 'home-cause-button' %>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('animal-rights.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <%= button_to "Animal Rights", cause_path('animal-rights'), method: :get, class: 'home-cause-button' %>
          </div>
        </div>
      </div>
    <div class="item">
      <%= image_tag asset_path('civil-rights.jpg'), class: 'carousel-img' %>
      <div class="container">
        <div class="carousel-caption">
          <%= button_to "Civil Rights", cause_path('civil-rights'), method: :get, class: 'home-cause-button' %>
        </div>
      </div>
    </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    </a>
    <div class="company-logo">
      <div id="logo">
        GiveHub
      </div>
    </div>
    <div class="main-text hidden-xs">
       <div class="col-md-12 text-center">
           <h1>Find the Right Charity</h1>
           <h3>Pick the one that suits you best, and help our charities meet their needs!
             </h3>
           </div>
     </div>

   </div>
