<body style="margin:0; padding:0">
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active">
      </li>
      <li data-target="#myCarousel" data-slide-to="1">
      </li>
      <li data-target="#myCarousel" data-slide-to="2">
      </li>
    </ol>
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag asset_path('LGBT.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              LGBTQIA
            </h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('environment.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              Environment
            </h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('humanitarian.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              Humanitarian
            </h1>
          </div>
        </div>
      </div>
        <div class="item">
          <%= image_tag asset_path('youth.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Youth
              </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('education.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Education
              </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('economic_development.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Economic Development
              </h1>
            </div>
          </div>
        </div>
        <div class="item">
          <%= image_tag asset_path('immigration.jpg'), class: 'carousel-img' %>
          <div class="container">
            <div class="carousel-caption">
              <h1>
                Immigration
              </h1>
            </div>
          </div>
        </div>
      <div class="item">
        <%= image_tag asset_path('poverty.jpg'), class: 'carousel-img' %>
        <div class="container-fluid">
          <div class="carousel-caption">
            <h1>
              Poverty
            </h1>
          </div>
        </div>
      </div>
      <div class="item">
        <%= image_tag asset_path('animal_rights.jpg'), class: 'carousel-img' %>
        <div class="container">
          <div class="carousel-caption">
            <h1>
              Animal Rights
            </h1>
          </div>
        </div>
      </div>
    <div class="item">
      <%= image_tag asset_path('civil_rights.jpg'), class: 'carousel-img' %>
      <div class="container">
        <div class="carousel-caption">
          <h1>
            Civil Rights
          </h1>
        </div>
      </div>
    </div>
  </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
    </a>
  <div class="main-text hidden-xs">
               <div class="col-md-12 text-center">
                   <h1>Meet Your Match!</h1>
                   <h3>Pick up the one that suits you best
                   </h3>
               </div>
           </div>

         </div>
