<div class="container">
<%= admin_dasboard_link %>
<%= charity_dashboard_link(@charity) %>

<div class="text-center">
  <h1>Recipients</h1>
</div>

<div class="text-center">
  <%= link_to "Add Recipient", new_admin_charity_recipient_path(@charity.slug), class: "btn btn-success add-recipient" %>
</div></br></br>

<div class="filter">
  <label>Filter By Last Name</label>
  <input type="text" placeholder="Last Name" id="recipient_filter_name">
</div></br>

<div class="row recipients">
  <% @recipients.each do |recipient| %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail recipient" data-name="<%= recipient.name %>">
      <div class="caption <%=recipient.name %>">
        <%= image_tag recipient.recipient_photo, class:"img-responsive" %>
        <h3><%= recipient.name %></h3>

        <p><%= recipient.description %></p>
        <p><%= link_to "Details", admin_charity_recipient_path(@charity.slug, recipient), class: "btn btn-primary recipient-details" %>
          <%= link_to "Update", edit_admin_charity_recipient_path(@charity.slug, recipient), class: "btn btn-danger recipient-update"  %>
        </p>
      </div>
    </div>
  </div>
  <% end %>
</div>
</div>
